<html>
	<style>
		.mega {
			min-width: 360px !important;
		}
	</style>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Compiled CSS -->
		<link rel="stylesheet" href="/static/css/materialize.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body class = "body white" onload='DrawList( {{ HerbList | tojson }}, "herb")''>
		<div class="container">
			<div class="row">
				<!--============================================-->
				<!-- Begin Column 1: Pick an herb			  	-->
				<!--============================================-->
				<div class="col s4">
							<ul class="collapsible yellow lighten-5">
								<li>
								  <div class="collapsible-header yellow lighten-5"><i class="material-icons">help</i>1. Pick an Herb</div>
								  <div class="collapsible-body"><span>Use the drop down menus below to filter the herb list. Thenm click an herb from the list to view some information</span></div>
								</li>
							</ul>
					<div class="card yellow lighten-5" style='height:350px'>
						<span class="card-title"><p class="center">Filter</p></span>
						<div class="input-field col s12 vertical-align" >
							<!-- Flavor List Dropdown Trigger -->
							<a class='dropdown-button btn-large waves-effect waves-light' id='flavordropdown' href='#' data-target='flavorFilterList'>Flavor Filter</a>
							<!-- Dropdown Structure -->
							<ul class='dropdown-content mega' id='flavorFilterList'>
								<div class="row center-align" style="margin: 0px;">
									<div class="col s4">
										<li onclick="FilterHerbList('rm')"><a href="#!"><b>Reset</b></a></li>
										<li onclick="FilterHerbList('Bi')"><a href="#!">Bitter</a></li>
										<li onclick="FilterHerbList('Sa')"><a href="#!">Salty</a></li>
										<li class="divider"></li>
										<li onclick="FilterHerbList('Sw')"><a href="#!">Sweet</a></li>
										<li onclick="FilterHerbList('So')"><a href="#!">Sour</a></li>
										<li onclick="FilterHerbList('Co')"><a href="#!">Cooling</a></li>
									</div>
									<div class="col s4">
										<li onclick="FilterHerbList('rm')"><a href="#!">Earthy</a></li>
										<li onclick="FilterHerbList('Bi')"><a href="#!">Floral</a></li>
										<li onclick="FilterHerbList('Sa')"><a href="#!">Fruity</a></li>
										<li class="divider"></li>
										<li onclick="FilterHerbList('Sw')"><a href="#!">Herbaceous</a></li>
										<li onclick="FilterHerbList('So')"><a href="#!">Nutty</a></li>
									</div>	
									<div class="col s4">

										<li onclick="FilterHerbList('Um')"><a href="#!">Piney</a></li>
										<li onclick="FilterHerbList('Co')"><a href="#!">Pungent</a></li>
										<li onclick="FilterHerbList('So')"><a href="#!">Spicy</a></li>
										<li class="divider"></li>
										<li onclick="FilterHerbList('Um')"><a href="#!">Sulfury</a></li>
										<li onclick="FilterHerbList('Co')"><a href="#!">Woody</a></li>
									</div>	
								</div>
							</ul>
						</div>
						<div class="input-field col s12 vertical-align" >
						<!-- Action List Dropdown Trigger -->
						<a class='dropdown-button dropdown-button btn-large waves-effect waves-light disabled' id='actiondropdown' href='#' data-target='actionFilterList'>Filter by Action</a>
						<!-- Energetics List Dropdown Trigger -->
						</div>
						<div class="input-field col s12 vertical-align">
						<a class='dropdown-button dropdown-button btn-large waves-effect waves-light disabled' id='energeticsdropdown' href='#' data-target='energeticsFilterList'>Filter by Energetics</a>
						</div>	
							<!-- <select id="FlavorSelect" onchange="FilterHerbList()">
							<div class = "col s6">
								<option value="" disabled selected>Select a Flavor</option>
								<option value="NF">Remove Filter</option>
								<option value="Bi">Bitter</option>
								<option value="Sa">Salty</option>
								<option value="Sw">Sweet</option>
								<option value="So">Sour</option>
								<option value="Um">Umami</option>
								<option value="Co">Cooling</option>
							</div>
							<div class = "col s6">
								<option value="Ea">Earthy</option>
								<option value="Fl">Floral</option>
								<option value="Fr">Fruity</option>
								<option value="He">Herbaceous</option>
								<option value="Ho">Hot</option>
								<option value="Nu">Nutty</option>
								<option value="Pi">Piney</option>
								<option value="Pu">Pungent</option>
								<option value="Sp">Spicy</option>
								<option value="Su">Sulfury</option>
								<option value="Wo">Woody</option>
							</div>
							</select>
							<label for="FlavorSelect">Sensory Characteristics</label>
						</div> -->
						<!-- <div class="input-field col s12 vertical-align disabled">
							<select id="ActionSelect" class="disabled" disabled>
							<option value="" disabled selected>Select</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
							</select>
							<label for="ActionSelect">Herbal Actions</label>
						</div>						
						<div class="input-field col s12 vertical-align">
							<select id="EnergeticsSelect" disabled>
							<option value="" disabled selected>Select</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
							</select>
							<label for="EnergeticsSelect">Energetics</label>
						</div> -->
					</div>
					<!--============================================-->
					<!-- Populate Herblist with objects from app.py -->
					<!--============================================-->
					<div class="card yellow lighten-5 " style="height: 500px; overflow-y: auto;">
						<ul class="collection yellow lighten-5" id="herbListMembers">

					<!--End=========================================-->
						</ul>
					</div>
					<!-- <div class="center padding=2">
						<a class="waves-effect waves-light btn-large center" onclick = "UpdateHerbInfo()">View Herb Info</a>
					</div> -->
				</div>

				<!--============================================-->
				<!-- Begin Column 2: View Info and Add		  	-->
				<!--============================================-->
				<div class="col s4">
					<ul class="collapsible yellow lighten-5">
						<li>
						  <div class="collapsible-header yellow lighten-5"><i class="material-icons">help</i>2. View Info and Add</div>
						  <div class="collapsible-body"><span>a. View herbal info below! After viewing the photo, botanical information, and the herb’s flavor profile, you can add the herb to the tea by clicking the Add Herb button.</span></div>
						</li>
					</ul>
					<div class="card yellow lighten-5" style="height:350px" >
						<span class="card-title center"><p class="center">Herb Profile</p></span>
						<div class="card-content, offset-m1" style="margin: 5px">
							<div class="card-tabs">
								<ul class="tabs tabs-fixed-width orange lighten-4">
									<li class="tab col"><a href="#flavorTab2"><span class="black-text">Flavors</span></a></li>
									<li class="tab col"><span class="grey-text">Action</span></li>
									<li class="tab col"><span class="grey-text">Energetics</span></li>
								</ul>
							</div>
							<div class="card-content offset-m12 yellow lighten-5" style="padding: 5px !important">
								<div class="row">
									<div id="herbFlavorC1" class="col s6 center-align">
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
									</div>
									<div id="herbFlavorC2" class="col s6 center-align">
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
									</div>
								</div>
	
								<div id="energeticsTab">

								</div>

								<div id="actionTab">
									
								</div>
							</div>
						</div>
					</div>
					<div class="card yellow lighten-5 large" id="herbInfoCard" onclick="AddToTea()">
						<div class="card-image">
							<img id = "herbImage" class="" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
							<span id = "herbName" class="card-title"></span>
						  </div>
						  <div class="card-content" id = "herbText" style = "overflow-y: auto">
						  </div>
					</div>
					<!-- <div class="center padding=2">
						<a class="waves-effect waves-light btn-large center" id="addToTeaButton" onclick="SelectTeaHerb()">Add to Tea</a>
					</div> -->
				</div>

				<!--============================================-->
				<!-- Begin Column 3: Review your tea		  	-->
				<!--============================================-->
				<div class="col s4">
					<ul class="collapsible yellow lighten-5">
						<li>
						  <div class="collapsible-header yellow lighten-5"><i class="material-icons">help</i>3. Click to Remove</div>
						  <div class="collapsible-body"><span>Review the flavor profile of your tea, and its ingredients! The flavor profile is automatically updated when a an herb is added or removed. You may remove an herb by selecting it from the list and clicking the Remove Herb button.</span></div>
						</li>
					</ul>
					<div class="card yellow lighten-5" style="height:350px">
						<span class="card-title"><p class="center">Tea Profile</p></span>
						<div class="card-content, offset-m1" style="margin: 5px">
							<div class="card-tabs">
								<ul class="tabs tabs-fixed-width orange lighten-4">
									<li class="tab col"><a href="#flavorTab2"><span class="black-text">Flavors</span></a></li>
									<li class="tab col"><span class="grey-text">Action</span></li>
									<li class="tab col"><span class="grey-text">Energetics</span></li>
								</ul>
							</div>
							<div class="card-content yellow lighten-5" style="padding: 5px !important">
								<div id="teaFlavor" class="row">
									<div id="teaFlavorC1" class="col s6 center-align">
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
									</div>
									<div id="teaFlavorC2" class="col s6 center-align">
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
										<div> &nbsp</div>
									</div>
								</div>
		
								<div id="energeticsTab2">
									
								</div>

								<div id="actionTab2" >
									
								</div>
							</div>
						</div>
					</div>

					<div class="card yellow lighten-5 " style="height: 500px; overflow-y: auto;">
						<!--============================================-->
						<!-- Populate TeaList with objects from app.py  -->
						<!--============================================-->
						<ul id= "teaListMembers" class="collection green .input-field">
		
						</ul>
						<!--End=========================================-->
					</div>
				</div>
			</div>
		</div>

		<!-- Compiled and JavaScript -->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
		<script type = "text/javascript" src="/static/js/main.js"></script>
		<script>
			$(document).ready(function() {
			   $('select').formSelect();
		   });
		 </script>
		 <script>
			$(document).ready(function(){
				$('.tabs').tabs();
			});
		 </script>
		<script>
			$(document).ready(function(){
				$('.collapsible').collapsible();
			});
		</script>
		<script>
 			$('#flavordropdown').dropdown()
  		</script>

	</body>
</html>